<div class="span12">

	<%= simple_form_for [@group,@post] do |f| %>

		<%= f.input :content, :input_html => {:class => "input-xxlarge"} %>

		<div class="form-actions">
			<%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary" %>
		</div>

		<% end %>

</div>
